%dl.accordion{"data-accordion" => "", class: "small-12 medium-8 large-6 small-centered columns" }
  %dd
    = link_to "Create New Game", '#invite'
    #invite.content
      = form_tag(create_madlibris_game_path) do |f|
        %p Challenge Opponenets  (min 2):
        = text_field_tag :username1, nil, placeholder: "madlibris username"
        = text_field_tag :username2, nil, placeholder: "madlibris username"
        and add more (optional): 
        = text_field_tag :username3
        = text_field_tag :username4
        = text_field_tag :username5
        = submit_tag "Send Invitations", class: "button medium"
    %dd
      = link_to "Current Games", '#current_games'
      #current_games.content.active{data_current_games: @current_games.length}
        - if @current_games.any?
          - @current_games.each do |game|
            .row
              - if current_user.host?(game) == true && game.book_choice_made? == false
                .small-12.columns
                  = link_to determine_game_url(game, current_user), class: "expand button #{link_class(current_user, game)}", id: "game#{game.id}" do
                    = list_opponent_usernames(game, current_user)
                    %span{"data-dropdown" => "drop#{game.id}"}
                  %ul.f-dropdown{id: "drop#{game.id}", "data-dropdown-content" => "", "data-game_id" => game.id}
                    - opponents_array(game, current_user).each do |opponent|
                      %li
                        .small-6.columns
                          %p.opponent
                            = opponent
                        .small-6.columns.text-right 
                          %p.uninvite{"data-game_id" => game.id, "data-username" => opponent} x
                    %li  
                      %a{href: "", id: "additional_player"} add another player
        - if @current_games.any?
          - @current_games.each do |game|
            - if current_user.host?(game) == false && game.book_choice_made? == false
              .row   
                .small-12.columns
                  = display_game_info(current_user, game) 
            
            - if game.book_choice_made?
              .row
                .small-12.columns
                  = link_to determine_game_url(game, current_user), class: "expand button #{link_class(current_user, game)}", id: "game#{game.id}" do
                    = list_opponent_usernames(game, current_user)
                    %span{"data-dropdown" => "drop#{game.id}"}
                  %ul.f-dropdown{id: "drop#{game.id}", "data-dropdown-content" => "", "data-game_id" => game.id}
                    - game.formatted_score.each do |gu_id, score_array| 
                      %li
                        %a 
                          = "#{score_array[0]}: #{score_array[1]}"
    - if @pending_invites.any?
      %dd
        = link_to "Game Invitations", '#pending_invites'
        #pending_invites.content{data_invites: @pending_invites.length}
          %p Invitations from: 
          - @pending_invites.each do |game|
            .row
              .small-3.medium-4.columns
                %p 
                  = game.game_host.username
              .small-4.columns
                = form_tag(accept_invitation_path) do |f|
                  = hidden_field_tag(:game_id, game.id)
                  = submit_tag "Accept", class: "button small"
              .small-4.columns
                = form_tag(reject_invitation_path) do |f|
                  = hidden_field_tag(:game_id, game.id)
                  = submit_tag "Reject", class: "button small"
- javascript_include_tag('options_display.js')

 