<!DOCTYPE html>
<html>
<head>
  <title>Madlibris</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if current_user %>
                  <ul>
                    <li><%= current_user.username %></li>
                    <li><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "button small" %></li>
                  </ul>
    <% end %>

<div class="off-canvas-wrap" data-offcanvas>
  <div class='inner-wrap'>
    <nav class='tab-bar'>
      <section class="middle tab-bar-section text-center">
        <h1 class="title">Madlibris</h1>
      </section>

      <section class="right-small">
        <a class="right-off-canvas-toggle menu-icon" href="#"><span></span></a>
      </section>
    </nav>


      <!-- off canvas menu -->
      <aside class='right-off-canvas-menu'>
                <% if current_user %>
                  <ul class='off-canvas-list'>
                    <li><%= current_user.username %></li>
                    <li><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "button small" %></li>
                  </ul>
                <% end %>
      </aside>
      <a class='exit-off-canvas'></a>
    </div>
  </div>

<%= yield %>

</body>
</html>
